/* The entire quiz form */
#quiz-wrap {
    font-family: arial, sans-serif;
}

    /* Wrapper of each question */
    #quiz-wrap .question {
        padding: 15px;
        margin: 10px;
        background: #f2f2f2;
        border: 3px solid #ccc;
        border-radius: 10px;
    }

    /* Question */
    #quiz-wrap h1 {
        font-size: 22px;
        margin: 5px 0;
    }

    /* Options */
    #quiz-wrap label {
        display: block;
        width: 100%;
        font-size: 20px;
        margin-top: 10px;
        color: #333;
    }

    /* Submit Button */
    #quiz-wrap input[type=submit] {
        background: #972121;
        color: #fff;
        padding: 10px;
        border: 0;
        padding: 10px 20px;
        margin-top: 10px;
        font-size: 20px;
    }
