* {
    font-family: Verdana;
    font-size: 0.5cm;
    box-sizing: border-box;
}

h1 {
    font-size: 1cm;
    font-family: 'Segoe Script';
    text-align: center;
    
}
h2 {
    font-size: 1cm;
    font-family: 'Snap ITC';
    text-align: center;
}
h3 {
    font-size: 1cm;
    font-family: Britannic;
    text-align: center;
}
h5 {
    font-size: 1cm;
    font-family: 'Segoe Script';
    text-align: center;
    color: darkblue
}
div.a {
    font-size: 150px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}*/




.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


body {
    background-color: rgba(197, 163, 53, 0.80);
    background-image: url(/Images/old-2228749.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}


#outerDiv {
    max-width: 1200px;
    margin-left: 50px;
    margin-right: 50px;
    /*margin-top: 1em;*/
    padding-left: 20px;
    padding-right: 20px;
    min-height: 900px;
    background-color: #FFFA;
}

#3button {
    column-count: 3;
    column-width: 200px;
}

nav ul {
    font-size: 1.3em;
    background-color: rgb(6, 4, 29);
    padding: 50px 18px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 0;
}

    nav ul a {
        color: white;
        text-decoration: none;

    }



nav ul a:hover {
        color: rgb(53, 68, 211);
}

.articleImage {
    width: 680px;
}





@media screen and (max-width:930px) {
    .articleImage {
        width: 95%;
    }
}

body {
}
