* {
    font-family: Verdana;
    font-size: 0.5cm;
    box-sizing: border-box;

}

h1 {
    font-size: 4vw;
    font-family: 'Courier New';
    text-align: center;
    color: #013;
    
}
h2 {
    font-size: 1cm;
    font-family: 'Snap ITC';
    text-align: center;
}
h3 {
    font-size: 4vw;
    font-family: Britannic;
    text-align: center;
}
h5 {
    font-size: 1cm;
    font-family: 'Segoe Script';
    text-align: center;
    color: darkblue
}
div.a {
    font-size: 150px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}*/




.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.column2 {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


body {
    background-color: rgba(197, 163, 53, 0.80);
    background-image: url(/Images/old-2228749.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}


#outerDiv {
    max-width: 1200px;
    margin-left: 50px;
    margin-right: 50px;
    /*margin-top: 1em;*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*min-height: 400px;*/
    background-color: #FFFA;
}

/*#3button {
    column-count: 3;
    column-width: 200px;
}*/


/*nav ul {
    font-size: 1.3em;
    background-color: rgb(6, 4, 29);
    padding: 50px 18px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 0;
}

    nav ul a {
        color: white;
        text-decoration: none;

    }



nav ul a:hover {
        color: rgb(53, 68, 211);
}*/

#logo {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        vertical-align: central;
        padding: 14px 16px;
        text-decoration: none;
    }



        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }

.articleImage {
    width: 680px;
}


@media screen and (max-width:930px) {
    .articleImage {
        width: 95%;
    }
}

body {
}

/*https://www.w3schools.com/howto/howto_css_contact_form.asp*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: darkslategray;
    }

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#canvasMouse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}